include docs/*
include *.rst
exclude Jenkinsfile
global-exclude api.py
global-exclude client.py
global-exclude exceptions.py
global-exclude query.py
global-exclude template.py
exclude scripts/circleci-pypi-publish.sh
